@import "src/style/index";
.drop{
  width: 360px;
  border-radius: 5px;
  border: 1px solid $border;
  position: absolute;
  left: 0;
  top: 43px;
  background-color: $white-primary;
  z-index: 2;
  &__content{
    padding: 18px 15px 25px 15px ;
    & > div + div {
      margin-top: 20px;
    }
  }
}

